.App {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(206, 206, 206);
}

.Console {
  text-align: center;
  flex: 2;
}

.ScoreBoard {
  flex: 1;
  border: 0.05em dashed white;
  padding: 0.5em 1em;
  margin-left: 2em;
  font-family: 'arcade', 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 2em;
}

.LeaderBoard {
  flex: 1;
  border: 0.05em dashed white;
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-left: 0;
  font-family: 'arcade', 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 2em;
}

#replay {
  visibility: hidden;
  color: rgb(247, 250, 58);
  text-decoration: none;
  display: block;
  margin: 0.5em auto;
  text-align: center;
  font-family: 'arcade', 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

#replay.gameover {
  visibility: visible;
}

.lvl {
  color: rgb(156, 52, 253);
}

h1 {
  font-family: 'arcade', 'Courier New', Courier, monospace;
  text-align: center;
}
