body {
  background-image: url('snake2.png');
  background-repeat: repeat space;
  background-size: 2em;
  background-color: black;
}

.DisplayArea {
  background-color: black;
}

canvas {
  background-color: rgb(0, 0, 0);
  font: 48px arcade;
  border: 0.05em solid white;
}

@font-face {
  font-family: 'arcade';
  src: url(arcade.TTF) format('truetype');
}
